// Bootstrap
@import "vendor/bootstrap/scss/bootstrap.scss";

// Muli does not exist in Google fonts
//https://fonts.google.com/specimen/Muli?selection.family=Muli

$breakpoint-mobile-s: 320px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-l: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

body {
  background-color: #eee;
}

.cta-card {
  border-width: 0px;

  &__body {
    display: flex;
    font-size: 12px;
    span {
      font-weight: bold;
      padding-right: 4px;
    }
  }
  .btn {
    height: fit-content;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 24px;
  }

  &__message {
    display: flex;
    align-items: center;
    margin: 0;
  }

  &__button-group {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    width: 40%;
  }
}

@media (min-width: $breakpoint-laptop) {
  .cta-card {
    &__message {
      padding-left: 24px;
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .cta-card {
    &__body {
      flex-direction: column;
      align-items: center;
    }
    &__message {
      margin-bottom: 16px;
    }
    &__button-group {
      margin-left: inherit;
      width: 70%;
    }
  }
}

@media (max-width: $breakpoint-mobile-l) {
  .cta-card {
    &__button-group {
      flex-direction: column;
    }

    .btn {
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $breakpoint-mobile-m) {
  .cta-card {
    &__message {
      font-size: 11px;
    }
  }
}

@media (max-width: $breakpoint-mobile-s) {
  .cta-card {
    &__message {
      font-size: 8px;
    }
  }
}
